.NewPostForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

.Input,
.Textarea {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Input label,
.Textarea label {
  flex: 0.1;
  font-weight: 500;
  font-size: 18px;
}

.Input input,
.Textarea textarea {
  padding: 12px 16px;
  border: 1px solid #a9a9a9;
  min-height: 40px;
  flex: 0.9;
  border-radius: 4px;
  font-size: 16px;
}

.Textarea textarea {
  padding: 24px 16px;
  min-height: 300px;
}

.Checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Checkbox input {
  width: 18px;
  height: 18px;
}

.Checkbox label {
  font-weight: 500;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  padding: 12px 16px;
  border: none;
  color: #232323;
  cursor: pointer;
  background-color: #eeeeee;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.2s ease;
  margin-top: 16px;
}

.button:hover {
  background-color: #cccccc;
}
