.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.LinkButton {
  padding: 12px 16px;
  color: #232323;
  background-color: #eeeeee;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.LinkButton:hover {
  background-color: #cccccc;
}
