.StrengthSection {
  padding: 100px 0;
}

.layoutContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 400;
  /* text-align: center; */
  margin-bottom: 100px;
}

.strong {
  font-weight: 700;
}

.StrengthCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.StrengthCardContainer > div {
  border-right: 1px solid #dddddd;
}

.StrengthCardContainer > div:nth-child(3n) {
  border-right: none;
}
