.StrengthSection {
  padding: 100px 0;
}

.layoutContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.StrengthCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.StrengthCardContainer > div {
  border-right: 1px solid #dddddd;
}

.StrengthCardContainer > div:nth-child(3n) {
  border-right: none;
}

@media screen and (max-width: 480px) {
  .StrengthCardContainer {
    grid-template-columns: 1fr;
  }

  .StrengthCardContainer > div {
    border-bottom: 1px solid #dddddd;
    border-right: none;
  }

  .StrengthCardContainer > div:nth-child(3n) {
    border-bottom: none;
  }
}
