.BoardItem {
  display: flex;
  cursor: pointer;
}

.td {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  border-bottom: 1px solid #eaeaea;
}

.number,
.title,
.status,
.name,
.date {
  flex: 1;
}

.title {
  flex: 3;
}

.badge {
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 14px;
  background-color: red;
}

.active {
  background-color: #f0f0f0;
  color: blue;
}

.inactive {
  background-color: #f0f0f0;
  color: red;
}
