.PostByIdPage {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.container {
  display: flex;
  gap: 8px;
}

.name {
  font-size: 16px;
}

.column {
  width: 1px;
  max-height: 100%;
  background-color: #282828;
}

.date {
  font-size: 16px;
}

.content {
  background-color: #f9f9f9;
  padding: 24px 16px;
  border-radius: 6px;
  min-height: 500px;
  white-space: pre-wrap;
}

.AdminReply {
  background-color: #eaeaea;
  padding: 24px 16px;
  border-radius: 6px;
}
