.AdminLoginPage {
  display: flex;
  min-height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: rgb(78, 89, 104);
  font-size: 24px;
  font-weight: 500;
}

.form {
  width: 100%;
  max-width: 400px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.label {
  color: rgb(78, 89, 104);
}

.input {
  padding: 0 16px;
  border: 1px solid rgb(51, 61, 75);
  min-height: 40px;
  border-radius: 6px;
}

.button {
  width: 100%;
  border: none;
  color: #ffffff;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  min-height: 40px;
  background-color: rgb(144, 194, 255);
  transition: all 200ms ease-in-out;
  font-size: 16px;
}

.button:hover {
  color: #ffffff;
  background-color: #1b64da;
}
