.Footer {
  padding: 40px 0;
  background-color: #fff;
}

.layoutContainer {
  max-width: 1000px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.strong {
  font-weight: 700;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.p {
  font-size: 14px;
  font-weight: 400;
  color: #282828;
}

.privacy {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .address {
    line-height: 150%;
  }

  .privacy {
    line-height: 150%;
  }
}
