.HeroSection {
  position: relative;
}

.hero {
  background-image: url("/home/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.overlay {
  background-color: hsl(0, 0%, 0%, 50%);
  height: 100vh;
}

.titleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
  width: 100%;
  padding: 0 16px;
}

.title {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  color: white;
  font-weight: 700;
}

.strong {
  font-weight: 700;
  color: #ffb400;
}

.title1 {
  margin-bottom: 24px;
}

.title2 {
  margin-bottom: 40px;
}

.p {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 7.5vw;
    margin-bottom: 16px;
  }

  .title2 {
    margin-bottom: 24px;
    line-height: 150%;
  }

  .p {
    text-align: center;
    font-size: 5.5vw;
  }
}
